.content {
  --modal-content-padding: var(--space-12);
}

.body {
  display: grid;
  gap: var(--space-11);
}

.title {
  margin: var(--space-0);
  color: var(--color-text);
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-title);
}

.description {
  margin: var(--space-0);
  color: var(--color-text-muted);
  font-size: var(--font-size-main);
  line-height: var(--line-height-body);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-6);
}
